<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" />
<sly data-sly-call="${clientlib.all @ categories='csu.workflow-delegate'}" />
<pre data-sly-use.wfDelegateModel="com.csuf.cloud.core.models.WorkflowInstancesDelegationDataModel"></pre>
<sly data-sly-use.wfDelegateData="${'fetchJson.js' @ jsonString=wfDelegateModel.workflowArray}" />

<div id="container-required" class="px-4 py-1">
    <div id="pills-workflow-delegation" class="tab-pane fade show active identifier" data-identifier='workflow-delegation'>
        <div class="scrollTableInner" id="dvWfDelegation" role="main">
            <table class="table table-striped table-hover table-bordered" id="workflow-delegation-dataTable" align="center" cellpadding="2" cellspacing="1">
                <thead class="tbThead">
                    <tr>
						<th></th>
                        <th scope="col" class="table-col-min-width">Status</th>
                        <th scope="col" class="table-col-min-width">Initiator</th>
                        <th scope="col" class="table-col-min-width">First Name</th>
                        <th scope="col" class="table-col-min-width">Last Name</th>
                        <th scope="col" class="table-col-min-width">Start Time</th>
                        <th scope="col" class="table-col-min-width">Model</th>
						<th scope="col" class="table-col-min-width">Assignee</th>
						<th scope="col" class="table-col-min-width">Task Title</th>
                        <th scope="col" class="table-col-min-width">Workitem Id</th>
                    </tr>
                </thead>
                <tbody>
                    <sly data-sly-list="${wfDelegateData}">
                        <tr data-sly-test="${item.id}" data-id="${item.id}">
							<td scope="row">
                            <div class="checkbox-wrapper my-tasks-checkbox">
                                <input type="checkbox" class="chb" name="mytaskscheckbox" value="${itemList.count}">
                            </div>
                            </td>
                            <td>${item.status}</td>
                            <td>${item.initiator}</td>
                            <td>${item.fName}</td>
                            <td>${item.lName}</td>
                            <td>${item.startTime}</td>
                            <td>${item.modelTitle}</td>
                            <td>${item.assignee}</td>
							<td>${item.workItemTitle}</td>
                            <td id='wId'>${item.workItemId}</td>

                        </tr>
                    </sly>
                </tbody>
            </table>
        </div>
    </div>



    <!-- Modal Select Delegatee  Action -->
<div class="modal fade" id="modal-select-delegatee-action" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Delegate Item</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body modal-body-dropdown">
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">User</label>
            <select class="custom-select cls-dropdown-delegatee" id="dropdown-delegatee"></select>
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Comments(Optional)</label>
            <textarea class="form-control" id="comment-dashboard-delegate-action"></textarea>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-danger" data-dismiss="modal">CANCEL</button>
        <button type="button" class="btn btn-primary cls-delegate-ok">SUBMIT</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal Error Delegate Action -->
<div class="modal fade" id="modal-error-delegate-action" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h5 class="modal-title"><i class="fas fa-times"></i></h5>
	  </div>
	  <div class="modal-body">
		<p>An error occurred while delegating the task.</p>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-outline-danger" data-dismiss="modal">OK</button>
	  </div>
	</div>
  </div>
</div>

<!-- Modal Not Delegate Action -->
<div class="modal fade" id="modal-do-not-delegate-action" tabindex="-1" role="dialog">
  <div class="modal-dialog modal-sm" role="document">
	<div class="modal-content">
	  <div class="modal-header">
		<h5 class="modal-title"><i class="fas fa-times"></i></h5>
	  </div>
	  <div class="modal-body">		
		<p>The selected task cannot be delegated.</p>
	  </div>
	  <div class="modal-footer">
		<button type="button" class="btn btn-outline-danger" data-dismiss="modal">OK</button>
	  </div>
	</div>
  </div>
</div>
</div>
