

.rb {
	width: 15px;
}

.modal {
    width: 100% !important;
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	padding-top: 200px;
	/* Location of the box */
	left: 0;
	top: 0;
	background-color: rgb(0, 0, 0);
	/* Fallback color */
	background-color: rgba(0, 0, 0, 0.4);
	/* Black w/ opacity */
}

.modal-content {
	position: relative;
	background-color: #fefefe;
    width: 57%;
	margin: auto;
	padding: 0;
	border: 1px solid #888;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
	-webkit-animation-name: animatetop;
	-webkit-animation-duration: 0.4s;
	animation-name: animatetop;
	animation-duration: 0.4s
}

@media (max-width : 767px){
.modal-content {
	width: 100%;
    }
}


/* Add Animation */

@-webkit-keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}
	to {
		top: 0;
		opacity: 1
	}
}

@keyframes animatetop {
	from {
		top: -300px;
		opacity: 0
	}
	to {
		top: 0;
		opacity: 1
	}
}


/* The Close Button */

.modal-header .close {
	margin-top: -28px;
	margin-right: -10px;
}

.close {
	color: grey;
	float: right;
	font-size: 30px;
	font-weight: bold;
}

.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

.modal-header {
	padding: 2px 16px;
	/* background-color: #1557c1;*/
	height: 35px;
	color: white;
}

.modal-body {
	padding: 2px 16px;
}

.modal-footer {
	height: 50px;
	padding: 2px 16px;
	/* background-color: #1557c1;*/
	color: white;
	text-align: left;
}

th {
	font-size: 15px;
	background-color: #00203e;
	color: white;
	font-weight: bold;
}

td,
tr {
	border: solid 1px #070f1c;
	font-size: 14px;
	font-family: Helvetica;
	/*background-color:#9baecc;*/
	color: #070f1c;
}

table {
	border: solid 1px #070f1c;
	border-collapse: collapse;
	padding: 2px 3px;
	text-align: center;
    width: 100%;
}

.okBtn {
	position: absolute;
	right: 0;
	margin-right: 16px !important;
	padding-right: 28px !important;
	padding-left: 28px !important;
}

.okBtn:hover,
.okBtn:focus {
	background-color: #084B8A;
}

.cancelBtn {
	position: absolute;
	margin-left: 622px !important;
}

.cancelBtn:hover,
.cancelBtn:focus {
	background-color: #084B8A;
}

.modal-text {
	font-size: 20px !important;
	font-weight: bold;
	font-family: Helvetica !importnat;
	/*background-color:#9baecc;*/
	color: #070f1c !important;
}

    .gif-modal{
          width: 100%;
    position: fixed;
    z-index: 1;
    padding-top: 200px;
    left: 0;
    top: 0;
    text-align: center;
        }

.gif-img{
  margin-left: auto;
  margin-right: auto;
}


.alertBox
{
    z-index: 1;
    padding-top: 200px;
    right: 0;
    overflow: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    display: none;

}
.customAlert {

   width: 400px;
    border: solid 1px grey;
    height: auto;
    border-radius: 5px;

    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
   /* box-shadow: 4px 4px 4px grey;*/
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);

  }
@media(max-width: 767px) {
  .customAlert {
   width : auto;
   border: solid 1px grey;
   position: relative;
   margin: auto;
   height: auto;
   text-align: center;
   border-radius: 5px;
   background-color: white;
   padding: 0;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
}
  
.closebtn {

   float: right;
   cursor:pointer;
   color: #fff;
	border: 1px solid #AEAEAE;
    border-radius: 30px;
    background: #605F61;
	font-size: 31px;
    font-weight: bold;
    display: inline-block;
    line-height: 0px;
    padding: 11px 3px;   
}
 


.closebtn:hover {
  color: black;
}
.customtext{
padding: 50px;
}


.afHeader .guidefield {
    vertical-align: middle !important;
}

#guideContainer-rootPanel-panel-courseinformation-onlinecourse1yes1577___guide-item{
	padding-left: 100px;
}

#guideContainer-rootPanel-panel-courseinformation-onlineCourse2Yes1577380623548___guide-item{
    padding-left: 100px;
}

.col-md-12 .col-sm-12 hidden-xs{
	padding-left: 130px !important;
    }
@media (max-width: 767px){
#headerTextDependentFeeWaiver{
	padding-left: 13px !important;
    position: relative !important;
    top: 8px !important;
    font-size: 16px !important;
        }
}

.guideFieldError {
padding-left:5px;
padding-top:5px;
color:#FF4136;
} 

/*
#guideContainer-rootPanel-panel-basicinformation-guideradiobutton_125___guide-item{
	padding-left: 70px;
} */

#guideContainer-rootPanel-panel-basicinformation-guideradiobutton__{
	padding-top: 27px;
}

/*.guideRadioButtonItem{
	padding-left: 40px !important;

    }*/


#guideContainer-rootPanel-panel-basicinformation-guideradiobutton_125___label{
	padding-left: 40px;
    }

/*#guideContainer-rootPanel-panel-spouseInformation-approvedPlan1588076304982__{
	position: relative;
    right: 160px;
}*/


#guideContainer-rootPanel-panel-courseinformation-table-HeaderRow-tableItem1___guide-item{
	width: 14%;
}

.guideimage .logoImage img{
	margin-top: 7px !important;
}

#guideContainer-rootPanel-panel-courseinformation-table-HeaderRow-tableItem___guide-item{
	width: 40%;
}

#guideContainer-rootPanel-panel-courseinformation-table-HeaderRow-headerItem1588073465476___guide-item{
	width: 7%;
}

#guideContainer-rootPanel-panel-courseinformation-table-HeaderRow-headerItem1588073471982___guide-item{
	width: 7%;
}

#guideContainer-rootPanel-panel-courseinformation-table-HeaderRow-headerItem1588073480568___guide-item{
	width: 8%;
}
#guideContainer-rootPanel-panel-courseinformation-table-HeaderRow-headerItem1588073488497___guide-item{
	width: 14%;
}

/*#guideContainer-rootPanel-panel-courseinformation-table-Row1-tableItem1__-2_widget{
	right: 20px;
}
#guideContainer-rootPanel-panel-courseinformation-table-Row2-tableItem1__-2_widget{
	right: 20px;
}

#guideContainer-rootPanel-panel-courseinformation-table-Row1-headerItem1588073488654__-2_widget{
	right: 20px;
}

#guideContainer-rootPanel-panel-courseinformation-table-Row2-headerItem1588073488800__-2_widget{
	right: 20px;
}*/


/*#guideContainer-rootPanel-panel-basicinformation-AreYouOnLeave1587577411194___label{
	padding-left: 26px;
}*/

#guideContainer-rootPanel-panel-DepartmentReviewAuthorizationPanel-DepartmentText___guide-item-nav-container{
	padding-left: 240px;
}

@media(max-width: 767px){
	#guideContainer-rootPanel-panel-courseinformation-table-Row1-headerItem1588073488654__-2_widget{
    	bottom: 36px;
    	left: -20px;
    	top: 10px;
    }
	#guideContainer-rootPanel-panel-courseinformation-table-Row1-headerItem1588073488654__-1_widget{
		right: 3px;
    	top: 10px;
	}

	.guide-header-bar .guide-breadcrumb {
			font-size: 11px !important;
     }

	 #guideContainer-rootPanel-panel-spouseInformation-approvedPlan1588076304982__{
			right: 10px;
      }

}

span.iconButton-label {
    display: block !important;
}
@media (min-width:1200px){
div#guideContainer-rootPanel-panel-basicinformation-AreYouOnLeave1587577411194___guide-item {
    left: 27px;
}
div#guideContainer-rootPanel-panel-basicinformation-FullTimePartTime1587577575561___guide-item {
    left: 27px;
    padding-top: 15px;
}

}
@media(max-width: 767px){
.wizard-navigators > li {
    display: none;
}
#guide-mobile-navigator-wrapper {
    position: relative;
    display: none;
}

}
td#guideContainer-rootPanel-panel-courseinformation-table-Row1-headerItem1588073480719___guide-item {
    border-color: white;
}
td#guideContainer-rootPanel-panel-courseinformation-table-Row2-headerItem1588073480866___guide-item {
    border-color: rgb(0 0 0 / 0%);
}
#guideContainer-rootPanel-panel-courseinformation-table-HeaderRow-tableItem1___guide-item {
    width: 74px;
}

#guideContainer-rootPanel-panel-courseinformation-table-HeaderRow-tableItem___guide-item {
    width: 192px;
}
th#guideContainer-rootPanel-panel-courseinformation-table-HeaderRow-headerItem1614931213966___guide-item {
    width: 59px;
}
th#guideContainer-rootPanel-panel-courseinformation-table-HeaderRow-headerItem1588073522819___guide-item {
    width: 117px;
}