<footer class="footer-main mytask-footer-details d-none d-block-sm d-md-block d-lg-block">

  <div class="footer-wrapper">
  
  <div class="row">
    <div class=" footer-logo-main">
      <!--<img class="footer-logo" alt="Footer Logo" src="./images/newlogo.png"></img>-->
      <div class="footer-logo" data-sly-resource="${'footer-logo' @ resourceType='csu/components/content/image'}"></div>
      <!-- <div class="footer-verticalline"></div> -->
    </div>
     <div class="col-md-8 col-lg-8 col-sm-8 footer-para">
        <p>This site is maintained by <p-line>Campus Forms</p-line>. <p-line>Last Published 5/23/19</p-line></p>
        <p>To report problem or comments with this site,please contact <p-line>DL-IT-FORMS@fullerton.edu.</p-line></p>
        <p>© California State university,Fullerton. All Rights Reserved.</p>
      </div>
  </div>
  
      <div class="footer-para-second">
          <p class="spacing">WEB ACCESSIBILITY</p>
          <p class="text-justify">CSUF is committed to ensuring equal accessibility to our users. Let us know about any accessibility problems you encounter using this website.We'll do our best to improve things and get you the information you need.</p>
      </div>
    </div>
  
  </footer>  


