#tbThead {
    background-color: #00274c;
    color: white;
}
/*
.dataTables_wrapper .dataTables_filter input {

    padding: 2px 21px !important;
}*/

@media (max-width: 991px) {
    #container-required {
        margin-top: 4.5rem;
    }
}
