<sly data-sly-use.clientlib="/libs/granite/sightly/templates/clientlib.html" />
<sly data-sly-call="${clientlib.all @ categories='csu.forms-catalog'}" />

<div id="container-required" class="px-4 py-1">
<div id="pills-formscatalogue" class="tab-pane fade show active identifier" data-identifier='formscatalogue'>
    <div class="modified-table">
      <table class="table catalog-table-sm" id="catalog-dataTable" >
         <thead class="thead-light">
            <tr>
               <th scope="col" style="min-width:200px;">Form Name</th>           
               <th scope="col" style="text-align:center;min-width:100px;">Actions</th>
            </tr>
         </thead>
         <tbody>         
        </tbody>
    </table>
    </div>
</div>
</div>





