/*
#tbThead {
    background-color: #00274c;
    color: white;
}

.dataTables_wrapper .dataTables_filter input {

    padding: 2px 21px !important;
}

#tbStaffReport_length {
    position: relative;
    left: 20px;
}
*/

#headerIcon{
justify-content: end;
}
@media (max-width: 991px) {
    #container-required {
        margin-top: 4.5rem;
    }
}

#tbThead {
    background-color: #00274c;
    color: white;
}

.delegate-button{
     background-color: #00274c;
    color: white;

    }
    .fa-user-friends{
text-align:center;
        }