<ul class="list-group">
  <li class="list-group-item"><a target="_blank" href="/content/csu/us/en/forms-catalog.html">Forms Catalog</a></li>
  <li class="list-group-item"><a target="_blank" href="/content/csu/us/en/drafts-and-submissions.html">Drafts and Submissions</a></li>
  <li class="list-group-item"><a target="_blank" href="/content/csu/us/en/my-tasks.html">My Tasks</a></li>
  <li class="list-group-item"><a target="_blank" href="/content/csu/us/en/inbox-filter.html">Inbox Filter</a></li>
</ul>


